{% extends "base.html" %}

{% block content %}

{% for post in posts %}
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <a href="{% url 'edit_post' post.id %}">Редактировать</a>

                <a href="{% url 'delete_post' post.id %}">Удалить</a>

                <p>{{ post.pub_date }}</p>

                <h2>{{ post.title }}</h2>

                <p>{{ post.content }}</p>

                <p>Автор: {{ post.author }}</p>

                <p>Лайков: {{ post.like_set.count }}</p>


            {% if user.is_authenticated %}
                <form method="post" action="{% url 'like_post' post_id=post.id %}">
                    {% csrf_token %}
                    <button type="submit">
                        {% if user in post.like_set.all %}
                            Unlike
                        {% else %}
                            Like
                        {% endif %}
                    </button>
                </form>
            {% endif %}

            </div>

        </div>

    </div>

</div>
{% endfor %}

{%endblock%}