{% extends "base.html" %}

{% block content %}

{% for post in posts %}
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <a href="{% url 'edit_post' post.id %}">Редактировать</a>

                <a href="{% url 'delete_post' post.id %}">Удалить</a>

                <p>{{ post.pub_date }}</p>

                <h2>{{ post.title }}</h2>

                <p>{{ post.content }}</p>

                <p>Author: {{ post.author }}</p>

                <p>Likes: {{ post.likes }}</p>


                <a href="{% url 'increase_likes' post.id %}">Нравится</a>

                <a href="{% url 'decrease_likes' post.id %}">Не нравится</a>

            </div>

        </div>

    </div>

</div>
{% endfor %}

{%endblock%}